main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    margin-top: 3rem;
}


.print{
    width: 25vw;
    margin-bottom: 20vw;
}

.fundohome{
    background-color: #FFF8F3;
}


