header{
  display: flex;
  margin-left: 5vw;
  margin-top: 3vw;
  gap: 5vw;
}



.logo{
  width: 4vw;
  margin-top: -1vw;
}

.separado{
  margin-left: 15vw;
}

header a, header a:visited, header a:link{
  color: #15566A;
}

.jatemconta{
  background-color: #ffffff;
  border-color: #1F9599;
  color: #1F9599;
  margin-left: 30vw;
}

.tituloveio{
  width: 60vw;
}

.paragrafo{
  color: #15566A;
  width: 40vw;
  font-size: 20px;
}

.idoso3{
  width: 40vw;
  margin-left: 53vw;
  margin-top: -48vh;
}

.lado{
  margin-left: 10vw;
}



