*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }
  
  .tudo{
    background-color: #fff8f3;
    display: flex; 
    flex-direction: row;
    
  }

.nome{
    display: block;
    background-color: #fff8f3;
}

.tituloedite{
    font-size: 6vh;
    padding-bottom: 3vh;
}


.formulario {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.estrela{
  width: 20vh;
  padding-bottom: 2vh;
}

.seta{
  width: 5vh;
}

.bloco11{
  padding-left: 12vw;
  padding-top: 8vh;
}

.velha{
  display: flex;
  height: 100vh;
}

.imagemvelha{
  flex: 1;
  display: flex;
  flex-direction: row-reverse;
  overflow: hidden;
  object-fit: cover; 
}


.espaco{
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.bio{
  width: 65vw;
  height: 20vh;
}